.profile-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    padding: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px auto;
}
.profile-img{
  width: 70px;
  height: auto;
  padding-bottom: 10px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.titlecon {
    font-size: 16px;
    color: #7b2cbf;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

.bio {
    color: #666;
    margin-bottom: 25px;
    line-height: 1.5;
    font-style: italic;
}

.hire-me {
    background-color: #000;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
    transition: background-color 0.3s;
}

.hire-me:hover {
    background-color: #333;
}

.initials {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
.stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.stat {
  text-align: center;
}

.stat a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px;
  transition: transform 0.2s;
}

.stat a:hover {
  transform: scale(1.05);
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

/* .stat-value {
  font-size: 1.2rem;
  font-weight: bold;
}

.stat-label {
  font-size: 0.8rem;
  color: #666;
} */